
.button {
    padding: 7px;
    font-size: 20px;
    border: 2px dashed blueviolet;
    border-radius: 10px;
}
.pagButton {
    background-color: rgba(0, 0, 0, 0);
}
.pagButton:hover {
    background-color: rgb(192, 222, 248);
    cursor: pointer;
}
.current {
    background-color: rgb(252, 252, 188);
}
.current:hover {
    cursor: pointer;
}