
.cardBlock {
    display: inline-block;
    padding: 8px;
    border: 3px dashed rgb(156, 235, 92);
    max-width: 250px;
    min-height: 490px;
    max-height: 490px;
    text-align: center;
}
.cardBlock:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
}
.dateSpan {
    align-self: flex-end;
    margin-top: 10px;
    font-style: italic;
}
.quizImage {
    border-radius: 50px;
}
.description {
    font-size: 18px;
}