
.button {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px dashed blueviolet;
    border-radius: 15px;
    font-size: 20px;
    font-style: italic;
    width: 200px;
    max-width: 100%;
}
.button:hover {
    cursor: pointer;
    border: 3px solid blueviolet;
    background-color: rgba(247, 247, 215, 0.26);
}
.button[disabled]:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 3px dashed blueviolet;
    cursor: default;
}