.outer {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.wrapper {
    text-align: center;
    padding: 20px;
    width: 40%;
    border: 3px dashed rgb(57, 135, 236);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title {
    text-align: center;
    margin-bottom: 20px;
}
.finishBlock {
    margin-top: 20px;
    align-self: flex-end;
}