
.userInfo {
    width: 100%;
    overflow: hidden;
}
.infoInputs {
    width: 100%;
    display: flex;
}
.infoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    flex-direction: column;
    overflow: hidden;
}
.submit {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}