
.errorBlock {
    font-size: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(252, 202, 202);
}
.link {
    margin-top: 30px;
    font-size: 25px;
}
.link:hover {
    text-decoration: underline;
}